# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with 'go test -c'
*.test

# Output of 'go cover'
*.out

# IDE / Editor specific
.idea/
.vscode/
*.swp
*~

# Build output
bin/
